/* Info */
    /* Colors */
    /* orange:  #e8941a */
    /* pink:  #f78b98 */
    /* fuschia:  #dc4182 */
    /* blue:  #6757b7 */
    /* green:  #7fbaa6 */
    /* whiteish:  #eaebee */
    /* cream: #e7e6d4 */
    /* brown-gray: #cabdb1 */
    /* charcoal: #3f4439 */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main, body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    Font-Family: 'Monda', Sans-Serif;
    Font-Size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #cabdb1;
}

img {
  max-width: 90%;
}

h1 {
    Font-Family: 'Julius Sans One', Sans-Serif;
    Font-Size: 3em;
    line-height: 1em;
}

h2 {
    Font-Family: 'Julius Sans One', Sans-Serif;
    Font-Size: 3em;
    line-height: 1em;
}

h3 {
    Font-Family: 'Julius Sans One', Sans-Serif;
    Font-Size: 2em;
    line-height: 1em;
}

h4 {
  Font-Family: 'Julius Sans One', Sans-Serif;
  Font-Size: 1.5em;
  line-height: 1m;  
  font-weight: 500;
}

.itin {
  display: flex;
  justify-content: center;
}


.bulleted_list {
  display: inline-block; 
  list-style-type: disc;
  text-align: left;
}

.centered_list {
  text-align: center;
}

.two_col_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}

.col_1_flex , .col_2_flex {
  min-width: 450px;
  flex: 1;
}

.text_justify {
  text-align: justify;
}

/* Body Images */
.reveal-image, .foreground-image, .big-logo {
    position: relative;
    opacity: 0.70;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* creates parallax scroll */
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 400px;
}

#new {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.55em;
  height: 1vh;
  padding: 0;
  margin: 0;
  top: 8vh;
  background-color: #dc4182;
  width: 100%;
  z-index:100;
  min-height: 3%;
  background-color: #6757b7;
  color: #e8941a;
  transition: top 0.3s;
  z-index: 1;
}

.hero {
    background-image: url('./img/E_C-photo-mood-board_more_squared.webp');
    min-height: 70%;
    opacity: 0.8;
  }

.big-logo {
    opacity: 1;
    width: 10%;
}

#big-logo-bottom {
    margin: 0;
}

.foreground-image {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./img/cjg-bacalar-no_logo-front-image-1920x1080.webp');
    z-index: 10;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
}

/* .reveal-image-1, .reveal-image-2, .reveal-image-3 {
    min-height: 400px;
} */

/* reveal images for each section */
#story {
    background-image: url('./img/nick-karvounis-UA3zSV9ze8U-unsplash.jpg');
}

#location {
    background-image: url('./img/darren-lawrence-K4BsLPTjKJA-unsplash.jpg');
}

#transportation {
    background-image: url('./img/eduardo-loaiza-y1UR7AcBe5o-unsplash.jpg');
}

#attire {
  background-image: url('./img/wedding_flowers.jpg');
}

#lodging {
    background-image: url('./img/chuttersnap-aEnH4hJ_Mrs-unsplash.jpg');
}

#itinerary {
    background-image: url('./img/nick-karvounis-UA3zSV9ze8U-unsplash.jpg');
}

#recommendations {
    background-image: url('./img/nick-karvounis-UA3zSV9ze8U-unsplash.jpg');
}

#contact {
    background-image: url('./img/nathan-dumlao-5BB_atDT4oA-unsplash.jpg');
}

#rsvp {
  background-image: url('./img/floral_invitation_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

/* Sections */
.section {
    text-align: center;
    padding: 50px 80px;
}

.section p {
    width: 75%;
    margin: 2em auto;
    max-width: 900px;
}

.section-light {
    background-color: #7fbaa6;
    color: #3f4439;
}

.section-dark {
    background-color: #3f4439;
    color: #e7e6d4;
}

.reveal-text {
    width: 60%;
    max-width: 700px;
    text-align: center;
    color: #3f4439;
    font-size: 27px;
    letter-spacing: 7px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.reveal-text .border {
    margin: auto;
    background-color: #e8941a;
    color: #eaebee;
    padding: 20px;

}

.hero-text {
    max-width: 900px;
    line-height: 3em;
    letter-spacing: 2px;
}

.reveal-text .border.trans {
    /* background-color: transparent; */
    opacity: 0.9;
}

.attribution {
    font-size: .5em;
    font-style:italic;
    line-height: 1em;
}

/* Nav Header */
.nav-header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    padding: .25em 1em;
    background-color: #dc4182;
    width: 100%;
    z-index:100;
}

.header-logo h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1em;
    text-align: center;
    color: #eaebee;
}

nav {
    width: 80%;
}

.nav-links, .social-links {
    display:flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
    width: 5fr;
    padding: 1.5em;
    gap: .75em;
    overflow-x: hidden;
}

.nav-links a, .social-links a {
    text-decoration: none;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #eaebee;
    cursor: pointer;
    user-select: none
}

.nav-links a:hover, .social-links a:hover {
    text-shadow: 2px 2px 3px #eaebee;
}

.social-links {
    align-items: space-around;
    justify-content: center;
    gap: 1.5em;
}

.social-links a {
    color: #f78b98;
}


.burger {
    display: none;
}

.burger div {
    width: 20px;
    height: 3px;
    margin: 5px;
    background-color: #e7e6d4;
    transition: all 0.3s ease;
}


/* flower color grid  */
.flower {
  width: 4em;
}

#flower_grid {
  display: grid;
  grid-template-columns: repeat(5,4em);
  /* grid-template-rows: repeat(5,4em); */
  gap: 0.25em;
  align-items: center;
  justify-content: center;
}

.row1_col3 {
  grid-row: 1;
  grid-column: 3;
}

.row2_col2 {
  grid-row: 2;
  grid-column: 2;
}

.row2_col4 {
  grid-row: 2;
  grid-column: 4;
}

.row3_col1 {
  grid-row: 3;
  grid-column: 1;
}

.row3_span25 {
  grid-row: 3;
  grid-column: 2 / span 3;
  width: 100%
}


.row3_col5 {
  grid-row: 3;
  grid-column: 5;
}

.row4_col2 {
  grid-row: 4;
  grid-column: 2;
}

.row4_col4 {
  grid-row: 4;
  grid-column: 4;
}

.row5_col3 {
  grid-row: 5;
  grid-column: 3;
}

/* Language Switch */
.tg-list-item {
    margin: 0 2em;
}

.tgl {
    display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 3em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
  }
  .tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 4px;
  }

  .tgl-flip + .tgl-btn:after {
    /* content: attr(data-tg-on); */
    /* background: #02C66F; */
    background-image:url(./img/flag_svg/us_es_flag.svg);
    background-repeat: no-repeat;
    transform: rotateY(-180deg);
  }
  .tgl-flip + .tgl-btn:before {
    background-image:url(./img/flag_svg/us_es_flag.svg);
    background-repeat: no-repeat;
    /* content: attr(data-tg-off); */
  }
  .tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
  }
  .tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
  }
  .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    transform: scaleX(-1);
    left: 0;
    /* background: #7FC6A6; */
  }
  .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
  }

  .hidden {
    display: none;
  }


/* Colors */
    /* orange:  #e8941a */
    /* pink:  #f78b98 */
    /* fuschia:  #dc4182 */
    /* blue:  #6757b7 */
    /* green:  #7fbaa6 */
    /* whiteish:  #eaebee */
    /* cream: #e7e6d4 */
    /* brown-gray: #cabdb1 */
    /* charcoal: #3f4439 */




/* RSVP form */
.contact-form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* box-shadow: 0px 0px 20px #00000010; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: rgb(63,68,57);
    background: linear-gradient(298deg, rgba(63,68,57,0.4357114641853933) 0%, rgba(127,186,166,1) 35%, rgba(231,230,212,0.8177339360955056) 100%);
    border-radius: 8px;
    margin-bottom: 20px;
    color: #3f4439;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    Font-Family: 'Monda', Sans-Serif;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }

  .form-group-two-col {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .dropdown {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px #ccc;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
    cursor: pointer;
  }


  .contact-form textarea {
    resize: vertical;
  }
  .contact-form button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: #3f4439;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background-color:#f78b98;
    transition: 0.3s ease background-color;
    transition: transform 0.3s ease;
  }
  .contact-form button[type="submit"]:hover {
    background-color: #f78b98;
    transform: scale(1.02);
    transition: transform 0.3s ease;
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: #77e81a;
    color: #3f4439;
    animation: status 10s ease forwards;
  }
  #status.error {
    background-color: #dc4141;
    color: #eaebee;
    animation: status 10s ease forwards;
  }

  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  
.contact-form i {
  color: #6757b7;
  margin-right: 10px;
}

/* Modal */
.modalBtn {
  width: 90%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  /* background-color:#7fbaa6; */
  /* transition: 0.3s ease background-color; */
  transition: transform 0.3s ease
}

.modalBtn:hover {
  /* background-color:#f78b98; */
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  animation: popup 0.5s ease;
}

.modal-content img {
  max-width: 75%;
}

/* .overlay:target .popup{
  
} */

@keyframes popup {
  0%{
    transform: scale(.5);
  }
  70%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media(max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    h2 {
      font-size: 2.5em;
    }

    h3 {
      font-size: 1.25em;
      word-wrap: break-word;
    }

    .form-group {
        font-size: 16px;
      }
      .form-group input,
      .form-group textarea {
        font-size: 16px;
      }
      
      .contact-form button[type="submit"] {
        font-size: 20px;
      }

    .modal-content {
      width: 85%;
    }

    .hero {
      min-height: 50%;
    }

    .reveal-image {
        background-attachment: scroll;
    }

    .reveal-text {
        width: 66%;
        font-size: 20px;
        letter-spacing: 7px;
        line-height: 1.5em;
    }

    .section {
        padding: 2em 2em;
    }
    
    .section p {
        max-width: 75%;
    }

    .foreground-image {
        visibility: hidden;
    }

    .big-logo {
        visibility: hidden;
    }

    .header-logo {
        font-size: .75em;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    nav {
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #e8941a;
        opacity: 1;
        z-index: 11;
        max-width: 55%;
        transform: translateX(100%);
        
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        opacity: 0;
    }

    .two_col_flex {
      max-width: 85%;
    }

}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
